@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.landnav li{
    @apply px-4 hover:text-white transition duration-500 ease-out 
}
.SadwitchMenu{
    display:  none;
}

.sidebar li{
    @apply  text-lg p-2 m-2 w-full text-center ;
}
.sidebar{
    display: none;
}

@media(max-width:1080px){
    .SadwitchMenu{
        display: inline;
    }
    .hide{
        display: none;
    }
}

@media(max-width:600px){
    .sidebar{
        width: 100%;
        hight: auto;
    }
}

