@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.landnav li{
    @apply px-4 hover:text-white transition duration-500 ease-out 
}
.SadwitchMenu{
    display:  none;
}

.sidebar li{
    @apply  text-lg p-2 m-2 w-full text-center ;
}
.sidebar{
    /* display: none; */
    transform: translateX(400px);
} 

@media(max-width:1080px){
    .SadwitchMenu{
        display: inline;
    }
    .hide{
        display: none;
    }
    .LoginSidepart{
        display: none;
    }
    .LoginMainpart{
        width: 100%;
    }
}

@media(max-width:600px){
    .sidebar{
        max-height: 100%;
    }
}

.background{
    width: 100vw;
    height: 70vh;
    background-image: url("/svg/wave.svg");
    background-size:cover;
    background-repeat: repeat-x;
}
.wave{
    animation: wave 50s linear  infinite;

}
@keyframes wave{
    0% { background-position-x: 0px;}
    25% { background-position-x: -3000px;}
    50% { background-position-x: 0px;}
    75% { background-position-x: 3000px;}
    100% { background-position-x: 0px;}
}
.buttonAnimaton:hover{
    transform: scale(1.1);
    transition: transform .3s ;
}

.registerloginform input{
    @apply rounded-xl py-2 px-4 w-[70%] mb-2 h-12 border-none outline-none
}

.membership{
    margin: 2% 2%;
    width: 100%;
    @apply bg-gray-300 rounded-2xl p-4
}
 
.membership ol{
     list-style-type: decimal;
     padding-left: 3em;
}
